### Requirements
librosa
torch
torchaudio
torchvision
lightning
soundfile
scipy
matplotlib
tqdm
numpy
pandas
speechbrain
tensorflow
tensorflow-probability
torchmetrics
seaborn
ipykernel
scaper
thop
openl3
youtube_dl
transformers
bs4
pyroomacoustics
python-sofa
onnx
onnxruntime
torch_tb_profiler
ffmpegio
noisereduce
jupyterlab
tensorboard
torchlibrosa
timm
einops
nnAudio
